<!-- チャンネルの画面 -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>3-v-tuber</title>
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        {% style "/assets/bootstrap/css/bootstrap.min.css" %}
        <link rel="stylesheet" href="/css/channel-style.css" type="text/css">
    </head>

    <body>
        <script type="module" src="/static/VTuberFrame.js"></script>
        <script src="/static/facetrack/model_pca_20_svm.js"></script>
        <script src="/static/facetrack/clmtrackr.min.js"></script>
        <script src="/static/facetrack/pixi.min.js"></script>
        <script type="module" src="/static/SpeakerTag.js"></script>

        <div class="container mt-2" style="width:1000px;height:130px">
           <div class="row">
               <div id="tt" class="col-8"><h1 id="title">Welcome to the channel</h1></div>
               <div class="col-4">
                   <div id="accept-button" class="d-none">
                       <button id="accepter" style="
                                   width: 300px;
                                   background-color: #FF5959;
                                   border: none;
                                   color: white;
                                   font-size: 22px;
                                   height: 40px;
                                   border-radius: 2px;
                                   ">accept</button>
                   </div>
                   <div id="cc" class="container" style="width: 300px;padding: 0;">
                       <div class="raw text-center">
                           <input id="close-btn" class="close-btn" type="button" value="ライブを終了">
                       </div>
                       <div id="cc" class="container">
                           <div class="row text-center">
                               <div id="invite-form" style="display:flex" class="pt-0 mt-0 pb-0 mb-0">
                                   <div><input id="invite-name" name="invite-text" type="text" style="width:240px;height:40px" placeholder="招待したい人の名前を入力" /></div>
                                   <div><button id="invite-btn" style="background-color:#FF5959;color:white;font-size:22px;border:none;height:40px;width:60px">招待</button></div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>


        </div>
        <script>
         document.title="Welcome to " + decodeURI(window.location.pathname.split("/")[2]);
         document.getElementById("title").innerHTML=decodeURI(window.location.pathname.split("/")[2]);
        </script>

        <hr class="mt-0 mb-0">
        <div style="margin:auto;width:1000px">
            <div class="row">
                <video id="video" style="height:0;margin:0;padding:0"></video> <!-- 撮影をするために必要 -->
                <div class="container mt-0" style="width:640px;margin:10px">
                    <div id="master_frame">
                        <vtuber-frame id="vtubertag1"></vtuber-frame>
                    </div>
                    <div id="oc">
                        <vtuber-frame id="vtubertag2"></vtuber-frame>
                    </div>
                </div>
                <div class="container m-0 text-center" style="width:350px">
                    <div class="container p-0 mt-0" style="height:120px">
                        <speaker-tag id="speakertag"></speaker-tag>
                    </div>

                    <div>
                        <div class="text-center" style="background-color:white;border: #FF5959 solid 2px;border-bottom:  none;"><p class="m-0 p-0" style="font-size:20px">コメント</p></div>
                        <div class="log" data-name="chat" style="width:320px;height:580px;background-color:white;color:black;overflow: scroll;border: #FF5959 solid 2px;border-top: #d8caca solid 2px;">
                    </div>
                    <div class="text-center">
                        <input type="text" data-name="message" size="100" style="margin-top:10px;width:320px;height:30px" placeholder="コメントを入力">
                        <style type="text/css">
                         ::-webkit-input-placeholder {
                             padding-left:1em;
                         }
                         ::-moz-placeholder {
                             padding-left:1em;
                         }
                         :-ms-input-placeholder {
                             padding-left:1em;
                         }
                         :-moz-placeholder {
                             padding-left:1em;
                         }
                        </style>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- scripts and styles -->
        <script>
         // get channel user
         const talkers = new XMLHttpRequest();
         talkers.responseType = "json";
         var master;
         var slave;
         talkers.open("GET",window.location.protocol +"//" + window.location.host + "/vchats-api/" + window.location.pathname.split("/")[2] + "/get-talker");
         talkers.addEventListener("load",(event) => {
             // console.log(event);
             if (200 ==  event.target.status) {
                 master = event.target.response["master"];
                 slave = event.target.response["inviter"];
                 if (Cookies.get('identity') != master) {
                     var eleme = document.getElementById("cc");
                     eleme.style.display = "none";
                     document.getElementById("tt").classList.remove("col-8");
                     document.getElementById("tt").classList.add("col-12");
                 }
                 if (!slave) {
                     var elem = document.getElementById("oc");
                     elem.style.display = "none";
                     document.getElementById("master_frame").style.marginTop='50px';
                 }
             }
         });
         talkers.send();

         const skins = new XMLHttpRequest();
         var master_face;
         var master_bg;
         var slave_face;
         var slave_bg;
         skins.responseType = "json";
         skins.open("GET", window.location.protocol + "//" + window.location.host + "/vchats-api/" + window.location.pathname.split("/")[2] + "/get-skins");
         skins.addEventListener("load",(event) => {
             if (200 == event.target.status) {
                 console.log(event.target.response);
                 master_face = event.target.response["master_face"];
                 master_bg = event.target.response["master_bg"];
                 slave_face = event.target.response["inviter_face"];
                 slave_bg = event.target.response["inviter_bg"];
             }
         });
         skins.send();
        </script>
        {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}

        {% script "/assets/jquery/jquery.min.js" %}
        {% script "/assets/font-awesome/svg-with-js/js/fontawesome.min.js" %}
        {% script "/assets/bootstrap/js/bootstrap.min.js" %}
        <script type="text/javascript">
         // ---------------------------------------------------
         // get-messages
         const request = new XMLHttpRequest();
         request.responseType="json";
         request.open("GET", "/vchats-api/"+ (window.location.pathname).split("/")[2] +"/get-messages");
         request.addEventListener("load", (event) => {
             // console.log(event.target.status); // => 200
             // console.log(event.target.response); // => "{...}"
             // console.log(event.target.response["messages"].length); // => "{...}"
             event.target.response["messages"].slice().reverse().forEach(function(x) {
                 $("[data-name='chat']").prepend($("<div style=\"text-align:left;\">").text( "[" + x["name"]+"] " + x["params"]));
                 // console.log(x["params"] + "[" + x["name"]+"]");
             })
         });
         request.send();
         // ---------------------------------------------------

         // set canvas ----------------------------------------
         /* var width = 300;
          * var height = 200;

          * var stage = new PIXI.Stage(0x000000);

          * var renderer = PIXI.autoDetectRenderer(width, height);

          * document.getElementById("mydisplay-container").appendChild(renderer.view);

          * function animate(){
          *     requestAnimationFrame(animate);
          * }

          * animate();*/
         // --------------------------------------------------------------
        </script>


        
        <script type="module">
         import VTuberFrame from '/static/VTuberFrame.js'

         var vtag1;
         var vtag2;
         var channel_name = (window.location.pathname).split("/")[2];
         var uri = "wss://" + location.host + "/test/websocket/" + channel_name;
         // console.log(uri);

         var webSocket = null;
         function init() {
             $("[data-name='message']").keypress(press);
             open();
         }

         function open() {
             if (webSocket == null) {
                 // console.log("init websocket");
                 webSocket = new WebSocket(uri);
                 // console.log("initialized!");
                 // console.log(webSocket);
                 webSocket.onopen = onOpen;
                 webSocket.onmessage = onMessage;
                 webSocket.onclose = onClose;
                 webSocket.onerror = onError;
             }
         }

         function onOpen(event) {
             chat("<info> 接続しました");
             if (Cookies.get('identity')) {
                 webSocket.send(JSON.stringify({type : "greeting",
                                                name : Cookies.get('identity'),
                                                params : "チャンネルは" + channel_name}));
             }
         }

         function onError(event) {
             chat("<info> エラーが発生しました。");
         }

         function onClose(event) {
             chat("<info> 切断されました。3秒後に再接続します。(" + event.code + ")");
             webSocket = null;
             setTimeout("open()", 3000);
         }

         function press(event) {
             if (event && event.which == 13) {
                 var message = $("[data-name='message']").val();
                 if (message && webSocket) {
                     webSocket.send(
                         JSON.stringify({type : "message",
                                         name : Cookies.get('identity'),
                                         params : message}));
                     $("[data-name='message']").val("");
                 }
             }
         }

         function chat(message) {
             var chats = $("[data-name='chat']").find("div");
             while (chats.length >= 100) {
                 chats = chats.last().remove();
             }
             // console.log("message" + message);
             var p = message.substring(0,1);
             if (p == "{") {
                 // if (JSON.parse(message).type == "invite") {
                 //    var msgtag = $("<div style=\"text-align:left\">").text();
                 //}
                 //else {
                 var msgtag = $("<div style=\"text-align:left;\">").text(
                     "[" + JSON.parse(message).name + "] " +
                     JSON.parse(message).params);
                 //}
             } else {
                 var msgtag = $("<div style=\"text-align:left;background-color:#ffdfdf\">").text(message);
             }
             $("[data-name='chat']").prepend(msgtag);
         }

         $(init);

         var close_name = "https://" + window.location.host + "/vchats-api/" + window.location.pathname.split("/")[2] +  "/close-channel";
         // console.log(close_name);
         var btn =  document.querySelector('input[name=close-button]');
         var pass;
         document.getElementById('close-btn').addEventListener('click',

                                                               function() {
                                                                   // console.log("clicked");
                                                                   $.ajax({
                                                                       url: close_name,
                                                                       type: 'POST',
                                                                   }).done(function(data) {
                                                                       alert("SUCCESS\nThis channel will be closed");
                                                                       pass = data;
                                                                       // console.log (pass);
                                                                       webSocket.send(JSON.stringify({type : "close",
                                                                                                      name : Cookies.get('identity'),
                                                                                                      params : pass}));
                                                                       window.location.href = window.location.replace("channels");
                                                                   }).fail(function(XMLHttpRequest, testStatus,  errorThrown) {
                                                                       alert("ERROR");
                                                                       // console.log(XMLHttpRequest);
                                                                       // console.log(testStatus);
                                                                       // console.log(errorThrown);
                                                                   })
                                                               });

         var invitebtn = document.getElementById('invite-btn');
         let inviters;
         console.log(invitebtn);
         invitebtn.addEventListener('click', function() {
             var invite_name = document.getElementById('invite-name').value;
             if (invite_name.length > 4) {
                 console.log("invite!!!");
                 inviters = new XMLHttpRequest();
                 inviters.responseType = "json";
                 inviters.open("GET",window.location.protocol +"//" + window.location.host + "/vchats-api/" + window.location.pathname.split("/")[2] + "/invite");
                 inviters.addEventListener("load",(event) => {
                     console.log(event.target);
                     if (200 ==  event.target.status) {
                         var invitekey = event.target.response.body;
                         console.log("send!!!");
                         webSocket.send(JSON.stringify({type : "invite",
                                                        name : Cookies.get("identity"),
                                                        params : {key : invitekey,
                                                                  name : document.getElementById('invite-name').value}}));
                     }
                     console.log(document.getElementById('invite-name').value);
                     // http
                     // websocket send ...
                 });
                 inviters.send();
             }
         });

         let stag = document.getElementById("speakertag");

         if ((master == Cookies.get('identity')) || (slave == Cookies.get('identity'))) {
             stag.recognizer_active = true;
             stag.comp_active = true;
             stag.callback = (text, v, p, r) => {
                 if (webSocket.readyState == 1) {
                     webSocket.send(
                         JSON.stringify({type : "talk",
                                         name : Cookies.get('identity'),
                                         params :{text : text,
                                                  voice : v,
                                                  pitch : p,
                                                  rate : r}}));
                     webSocket.send(
                         JSON.stringify({type : "message",
                                         name : Cookies.get('identity'),
                                         params : text}));
                 }
             }

             // import VTuberFrame from '/static/VTuberFrame.js'

             // if master == Cookies.get('identity') || slave == Cookies.get('identity')

             /// 自分の顔を写すウィンドウとしてvtag1を使う
             vtag1 = document.getElementById('vtubertag1');
             vtag1.self_active = true;
             if ((master == Cookies.get('identity'))) {
                 vtag1.set_texture("BG", master_bg);
                 vtag1.set_texture("FACE", master_face);
             }
             else {
                 vtag1.set_texture("BG", slave_bg);
                 vtag1.set_texture("FACE", slave_face);
             }

             /// もしコールバック関数を設定したいなら
             /// 変数xは顔の情報を持つ71点の配列
             /// ウェブソケットで点の情報を送るときもこれをつかう
             vtag1.callback = (points) => {
                 console.log(slave);
                 if (webSocket.readyState == 1) {
                     // console.log(points);
                     // WEBSOCKET_SEND_MESSAGE1(points)
                     if (master == Cookies.get('identity')) {
                         webSocket.send(
                             JSON.stringify({type : "master-points",
                                             name : Cookies.get('identity'),
                                             params : points}));
                     }
                     else if (slave == Cookies.get('identity')) {
                         console.log("slave???");
                         webSocket.send(
                             JSON.stringify({type : "slave-points",
                                             name : Cookies.get('identity'),
                                             params : points}));
                     }
                 }
             };

             ///　背景や顔のスキンを変更した時に使うコールバック
             /// 画面横のオプションで更新するたびに呼び出される。
             vtag1.option_callback = (key, value) => {
                 // console.log(key, value);
                 console.log(Cookies.get('identity'));
                 if (master == Cookies.get('identity')) {
                     console.log(master);
                     webSocket.send(
                         JSON.stringify({type : "master-skin",
                                         name : Cookies.get('identity'),
                                         params : {key : key,
                                                   value : value}}));
                 }
                 else if (slave == Cookies.get('identity')) {
                     console.log(slave);
                     webSocket.send(
                         JSON.stringify({type : "slave-skin",
                                         name : Cookies.get('identity'),
                                         params : {key : key,
                                                   value : value}}));
                 }
                 // WEBSOCKET_SEND_MESSAGE2(key, value);

             }
             /// 相手側の顔を写すウィンドウとしてvtag2を使う
             vtag2 = document.getElementById('vtubertag2');
             vtag2.comp_active = true;
             console.log(vtag2);
             if (slave == Cookies.get('identity')) {
                 vtag2.set_texture("BG", master_bg);
                 vtag2.set_texture("FACE", master_face);
             }
             else {
                 vtag2.set_texture("BG", slave_bg);
                 vtag2.set_texture("FACE", slave_face);
             }
         }
         // for normal
         else {
             stag.recognizer_active = false;
             stag.comp_active = false;
             vtag1 = document.getElementById('vtubertag1');
             vtag1.comp_active = true;
             vtag1.set_texture("BG", master_bg);
             vtag1.set_texture("FACE", master_face);

             vtag2 = document.getElementById('vtubertag2');
             vtag2.comp_active = true;
             vtag2.set_texture("BG", slave_bg);
             vtag2.set_texture("FACE", slave_face);

         }
         /// ウェブソケットで話し相手の点情報を受け取り、相手側のウィンドウで表示したいとき
         /// vtag2.set_points(points)を使う
         /*
            WEBSOCKET_GET_MESSAGE(points) {
            vtag2.set_points(points);
            }
          */
         
         /// 相手の背景や顔のスキンが変更した時に使うコールバック
         /*
            WEBSOCKET_GET_MESSAGE1(key, value) {
            vtag2.set_texture(key, value);
            }
          */
         
         /// 音声のデータが与えられた時、口パクする
         /// audioタグのduration属性で再生時間を得て、lipsynch_startで口パク開始
         /* WEBSOCKET_GET_MESSAGE2(src) {
          *     audio.SET_SOURCE(src)
          *     if (speak) {
          *         vtag1.lipsynch_start(audio.duration*1000);
          *     } else {
          *         vtag2.lipsynch_start(audio.duration*1000);
          *     }
          *     audio.play();
          * }*/

         // for accept button
         // on click
         document.getElementById("accepter").onclick = function () {
             console.log("push accept");
             if(confirm('Accept invitation')){
                 webSocket.send(JSON.stringify({type : "accept", name : Cookies.get("identity")}));
             }
         }
         // webSocket.send({type : "accept", name : Cookies.get("identity")})
         function onMessage(event) {
             if (event && event.data) {
                 var obj = JSON.parse(event.data);
                 console.log(obj.type);
                 if (obj.type == "voice-data") {
                     var voice = obj.params;
                     var audio = new Audio("data:audio/wav;base64," + voice);
                     // console.log(obj.name);
                     audio.addEventListener('loadedmetadata', function() {
                         console.log(obj.name);
                         if ((Cookies.get("identity") != master)
                             && (Cookies.get("identity") != slave)) {
                             if (master == obj.name) {
                                 vtag1.lipsynch_start(audio.duration*1000);
                             }
                             else {
                                 vtag2.lipsynch_start(audio.duration*1000);
                             }
                         }
                         else if ((Cookies.get("identity") == slave)
                                  && slave == obj.name) {
                             vtag1.lipsynch_start(audio.duration*1000);
                         }
                         else {
                             vtag2.lipsynch_start(audio.duration*1000);
                         }
                         audio.play();
                     })
                 }
                 else if(obj.type == "message"){
                     chat(event.data);
                 }
                 else if(obj.type == "close") {
                     chat(event.data);
                     alert("Notice\nThis Channel was closed");
                     window.location.replace("channels");
                 }
                 else if(obj.type == "master-points") {
                     if (((Cookies.get("identity")) != master) && (Cookies.get("identity") != slave)) {
                         vtag1.set_points(obj.params);
                     }
                     else if (((Cookies.get("identity") == master)
                            && (master == obj.name))) {
                         vtag1.set_points(obj.params);
                     }
                     else if ((Cookies.get("identity") == slave)
                              && (slave == obj.name)) {
                         vtag2.set_points(obj.params);
                     }
                     else {
                         vtag2.set_points(obj.params);
                     }
                 }
                 else if(obj.type == "slave-points") {
                     if (((Cookies.get("identity")) != master) && (Cookies.get("identity") != slave)) {
                         vtag2.set_points(obj.params);
                     }
                     else if ((Cookies.get("identity") == master)
                              && (master == obj.name)) {
                         vtag2.set_points(obj.params);
                     }
                     else if ((Cookies.get("identity") == slave)
                              && (slave == obj.name)) {
                         vtag1.set_points(obj.params);
                     }
                     else {
                         vtag2.set_points(obj.params);
                     }
                 }
                 else if(obj.type == "master-skin") {
                     if (((Cookies.get("identity")) != master) && (Cookies.get("identity") != slave)) {
                         vtag1.set_texture(obj.params.key, obj.params.value);
                     }
                     else if ((Cookies.get("identity") == master)
                              && (master == obj.name)) {
                         vtag1.set_texture(obj.params.key, obj.params.value);
                     }
                     else if ((Cookies.get("identity") == slave)
                              && (slave == obj.name)) {
                         vtag2.set_texture(obj.params.key, obj.params.value);
                     }
                     else {
                         vtag2.set_texture(obj.params.key, obj.params.value);
                     }
                 } else if (obj.type == "slave-skin") {
                     if (((Cookies.get("identity")) != master) && (Cookies.get("identity") != slave)) {
                         vtag2.set_texture(obj.params.key, obj.params.value);
                     }
                     if ((Cookies.get("identity") == master)
                         && (master == obj.name)) {
                         vtag2.set_texture(obj.params.key, obj.params.value);
                     }
                     else if ((Cookies.get("identity") == slave)
                              && (slave == obj.name)) {
                         vtag1.set_texture(obj.params.key, obj.params.value);
                     }
                     else {
                         vtag2.set_texture(obj.params.key, obj.params.value);
                     }
                 }
                 else if(obj.type == "invite") {
                     console.log(obj.params);
                     // if invited
                     // show accept button
                     if (obj.params == Cookies.get("identity")) {
                         document.getElementById("tt").classList.remove("col-12");
                         document.getElementById("tt").classList.add("col-8");
                         document.getElementById("accept-button").className="d-block";
                     }
                     chat("<info> " + JSON.parse(event.data).params + " さんが招待されました");
                 }
                 else if(obj.type == "accept") {
                     document.getElementById("accept-button").className="d-none";
                     slave = obj.name;
                     document.getElementById("master_frame").style.marginTop='0';
                     document.getElementById("oc").style.display = "block";
                     if (slave == Cookies.get("identity")) {
                         vtag1.self_active = true;
                         vtag1.set_texture("BG", slave_bg);
                         vtag1.set_texture("FACE", slave_face);
                         vtag2.comp_active = true;
                         vtag2.set_texture("BG", master_bg);
                         vtag2.set_texture("FACE", master_face);
                         
                         document.getElementById("tt").classList.remove("col-8");
                         document.getElementById("tt").classList.add("col-12");
                         vtag1.callback = (points) => {
                             console.log(slave);
                             if (webSocket.readyState == 1) {
                                 // console.log(points);
                                 // WEBSOCKET_SEND_MESSAGE1(points)
                                 if (master == Cookies.get('identity')) {
                                     webSocket.send(
                                         JSON.stringify({type : "master-points",
                                                         name : Cookies.get('identity'),
                                                         params : points}));
                                 }
                                 else if (slave == Cookies.get('identity')) {
                                     console.log("slave???");
                                     webSocket.send(
                                         JSON.stringify({type : "slave-points",
                                                         name : Cookies.get('identity'),
                                                         params : points}));
                                 }
                             }
                         };
                         
                     } else {
                         vtag2.comp_active = true;
                         vtag2.set_texture("BG", slave_bg);
                         vtag2.set_texture("FACE", slave_face);
                     }

                     chat("<info> " + JSON.parse(event.data).name + "さんが参加しました");
                 }
             }
         }
        </script>

        <script type="text/javascript">
             var csrfToken = "{{csrf-token}}";
        </script>
    </body>
</html>
