<!-- チャンネルリストの画面 -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LOGIN</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="channel_list">
            <p>{{error-message}}</p>
            <p>Channel list</p>
            <a href="../channel/elect">Sample Channel</a>
        </div>
        <div>
            <p>
                Make Channel
            </p>
            <form method="post">
                <input name="chan_name" type="text" placeholder="channel name" />
                <button type="submit">Make Channel</button>
            </form>
        </div>
        <button id="logout">LOGOUT!</button>
        <script>
         var logoutButton = document.getElementById('logout');
         logoutButton.addEventListener('click', function () {
             console.log('???');
             var xhr = new XMLHttpRequest();
             xhr.open('GET', 'http://' + window.location.host + '/logout', true);
             xhr.onload = function () {
                 console.log(xhr.responseURL);
                 window.location.href = xhr.responseURL;
             }
             xhr.send();
         })

         $.ajax({
             url: "/vchats-api/get-channels",//json文件位置
             type: "GET",//请求方式为get
             dataType: "json", //返回数据格式为json
             success: function(data) {//请求成功完成后要执行的方法
                 //each循环 使用$.each方法遍历返回的数据date
                 $.each(data.channels, function(i, item) {
                     var str = '<a href="../channel/'+ item +'">'+ item +'</a>\n';
                     console.log(str);
                     $("#channel_list").append(str);
                 })
             }
         })
        </script>
        <p>Here is the channels' page<p>
            <!-- scripts and styles -->
            {% style "/assets/bootstrap/css/bootstrap.min.css" %}
            {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}
            {% style "/css/screen.css" %}

            {% script "/assets/jquery/jquery.min.js" %}
            {% script "/assets/font-awesome/svg-with-js/js/fontawesome.min.js" %}
            {% script "/assets/tether/dist/js/tether.min.js" %}
            {% script "/assets/bootstrap/js/bootstrap.min.js" %}

            <script type="text/javascript">
             var csrfToken = "{{csrf-token}}";
            </script>
            <!-- {% script "/js/app.js" %} -->
    </body>
</html>
