<!-- ログイン画面 -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LOGIN</title>
    </head>
    <body>

    <div class="wrap">

        <p class="ero">{{error-message}}<p>
        <p>LOGIN<p>
        <form method="post">
            <i class="fa fa-user"></i>
            <input type="text" name="username" placeholder="Username">
            <i class="fa fa-lock"></i>
            <input type="password" name="password" placeholder="Password" >
            <button type="submit">Click Me</button>

        </form>
        </p><a href="/resister">Resister page is here<a></div>

        <!-- scripts and styles -->
        {% style "/assets/bootstrap/css/bootstrap.min.css" %}
        {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}
        {% style "/css/screen.css" %}
        {% style "/css/style_test.css" %}
        {% script "/assets/jquery/jquery.min.js" %}
        {% script "/assets/font-awesome/svg-with-js/js/fontawesome.min.js" %}
        {% script "/assets/tether/dist/js/tether.min.js" %}
        {% script "/assets/bootstrap/js/bootstrap.min.js" %}

        <script type="text/javascript">
         var csrfToken = "{{csrf-token}}";
        </script>
        <!-- {% script "/js/app.js" %} -->
    </body>
</html>
