<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terminal</title>
    <link rel="stylesheet" href="terminal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="terminal.js"></script>

</head>
<body>
<div id="main_container">
    <div id ="channel_container">
        <div id="channellist_div" class="channel_panel">
            <h2 id="channel_list">チャンネルリスト</h2>

        </div>
        <div id="newchannel_div" class="channel_panel">
            <h2>チャンネル作成</h2>
            <form method="post">
                <input name="chan_name" type="text" placeholder="channel name" />
                <button type="submit">Make Channel</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>