<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Secret chamber</title>
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js"></script>
        <script type="text/javascript">
         var csrfToken = "{{csrf-token}}";
        </script>
    </head>
    <body>
        <h1>Welcome to the Secret chamber</h1>
        <div id="app"></div>
        <script type="text/javascript" src="/dev/textured_mesh.js">
         <canvas width="800" height="600" style="touch-action: none; cursor: inherit;"></canvas>
         <!-- scripts and styles -->
         {% style "/assets/bootstrap/css/bootstrap.min.css" %}
         {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" %}
         {% style "/css/screen.css" %}

         {% script "/assets/jquery/jquery.min.js" %}
         {% script "/assets/font-awesome/svg-with-js/js/fontawesome.min.js" %}
         {% script "/assets/tether/dist/js/tether.min.js" %}
         {% script "/assets/bootstrap/js/bootstrap.min.js" %}
         {% script "/js/app.js" %}
    </body>
</html>
